services:
  db:
    image: postgres:16
    container_name: asset-management-db
    environment:
      POSTGRES_DB: asset_management
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5400:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: